/*_______ Nib _______*/
vendor-prefixes = o ms moz webkit official
@import 'nib'


/*_______ Components _______*/
@import 'components/variables'
@import 'components/flex'
@import 'components/htmltags'
@import 'components/common-elements'
@import 'components/wp-classes'
@import 'components/aviso-cookies'
@import 'components/header'
@import 'components/main_nav'
@import 'components/social-nav'
@import 'components/sidebar'
@import 'components/pagination'
@import 'components/footer'

/*_______ Content parts _______*/
@import 'contents/home_news'
@import 'contents/content'
@import 'contents/editions'
@import 'contents/single'


		