/* ________________ Editions ________________ */
.editions
	margin 0 auto 2rem
	.edition
		text-align center
		margin 0 auto 2rem
		flex 0 1 32%
		@media (max-width: 480px)
			flex 0 1 48%
		&:hover
			.section_image
				opacity .75
		.section_image
			margin 0 auto .5rem
			max-height 18rem
			transition all .25s ease-in-out
		.title
			font-size 1rem
			margin 0 0 1rem