/*_______ Aviso Cookies _______*/
#obt_ga_banner
	position fixed
	bottom 0
	left 0
	right 0
	width 100%
	padding 1rem 10%
	background transparentify(negro, .85)
	z-index 100
	#obt_ga_contenido
		width 75%
		display inline-block
		vertical-align bottom
		h2
			font-family primary_font
			font-size 1.25rem
			color white
		p
			font-family secondary_font
			font-weight 400
			font-size 1rem
			color white
		a
			color gris
	#obt_ga_boton
		height auto
		font-family secondary_font
		font-weight 400
		font-size 1.25rem
		line-height 1em
		text-transform uppercase
		color white
		margin 1rem 1.5rem
		padding .75rem 1.25rem
		background secondary
		&:hover
			background negro
