/* _____________________ Common Elements _____________________ */
.site_content
	margin 0 auto 2rem

.main_content
	margin 0 auto 2rem
	flex-basis 68%
	@media (max-width: 480px)
		flex-basis 100%

.sidebar
	flex-basis 28%
	@media (max-width: 480px)
		flex-basis 100%
.inner
	max-width 1000px
	margin 0 auto 2rem
	padding 0 1rem

.outter
	margin 0 auto
	padding 0

.full-width
	width 100% !important

.tapa
	display block
	width 100%
	fill white
.tapa_up
	margin-top -1px
.tapa_down
	margin-bottom -1px
	
.content
	ul
		list-style circle outside
		margin 0 auto 2rem
		padding 0 0 0 1rem
		li
			margin 0 0 .5rem
