/* ________________________ Header ______________________________________ */
.site_header
	position relative
	overflow hidden
	color white
	margin 0 auto
	padding 4rem 0 0 0
	background linear-gradient(to top left, transparent 45%, white 45%), 
	linear-gradient(to bottom right, transparent 80%, white 80%), 
	url(../img/critgijon2016_header_bg_02.jpg)
	background-position 0 -2.5rem, 0 -2.5rem, top center
	background-size 2rem 4rem, 2rem 4rem, cover
	background-repeat repeat-x, repeat-x, no-repeat
	background-color primary
	.inner
		align-items flex-start
		margin 0 auto 12rem
	.site_title
		font-weight 600
		font-size 3rem
		line-height 1em
		margin 0 0 1rem 0
		flex-basis 25%
		@media (max-width: 480px)
			font-size 2.5rem
			flex-basis 60%
		a
			color white
		&:before
			content ''
			display block
			width 6rem
			height .5rem
			margin 0 0 1rem
			background-color white
		.year
			font-weight 300
		.gijon
			&:before
				content 'Villa de'
				display block
				font-weight 300
				font-size 1.075rem
				line-height 1em
				text-transform uppercase
				@media (max-width: 480px)
					font-size 1.25rem
	.header_widget
		font-weight 300
		font-size 1.75rem
		line-height 1em
		margin 0 0 1rem
		@media (max-width: 480px)
			flex-basis 20%
		&:before
			content ''
			display block
			width 3 rem
			height .5rem
			margin 0 0 .5rem
			background-color white
		ul
			li
				display inline-block
				vertical-align top
				font-size .95rem
				line-height 1em
				a
					font-family primary_font
					font-weight 400
					text-transform uppercase
					color gris_claro
					&:hover
						color white
				&.active
					a
						color white
					
	.outter
		position absolute
		top 16rem
		left -10%
		right -10%
		width 120%
		text-align center
		margin 0 0 5rem
		background transparentify(primary, primary, .8)
		transform rotateZ(-8deg)
		.event-info
			font-family primary_font
			font-weight 700
			font-size 3rem
			line-height .95em
			transform rotateZ(8deg)
			text-transform uppercase
			@media (max-width: 480px)
				font-size 2rem
			p
				font-family primary_font
				font-weight 700
				font-size 3rem
				line-height 1em
				margin 0
				.serif
					display block
					font-family serif
					font-weight 400
					font-style italic
					font-size 1.5rem
					line-height .5em
					text-transform none
				&.next
					font-weight 400
					font-size 1.7rem
			.date
				.month
					font-weight 400
					span
						display inline-block
				.day
					font-weight 700
				.ordinal
					font-weight 400
					text-transform initial
			.address
				font-family primary_font
				font-size 2rem
				color white
				.campus
					font-weight 400
			.schedule
				font-family primary_font
				font-size .5em
				line-height 1.25em
				color white
				.hour
					font-weight 400