/* ________________________ Main Nav ______________________________________ */
.main_nav
	padding 0 0 4rem
	background-color white
	.main_menu
		font-family primary_font
		margin 0 auto 0
		list-style none
		justify-content center
		li
			font-weight 700
			font-size .875rem
			letter-spacing -.025rem
			text-transform uppercase
			text-align center
			@media (max-width: 480px)
				width 100%
				margin .5rem auto
			a
				color primary
				padding .75rem
				&:hover
					color negro
