/*_______ Pagination _______*/
.pagination
	margin 2em auto
	text-align center
	flex-basis 100%
	.page-numbers
		li
			margin 0
	.current
		font-size 1rem
		font-weight 700
		line-height 1em
		color white
		display inline-block
		margin 0 .25em .5rem
		padding .5em .725em
		border 2px solid primary
		background primary
	a
		font-size 1rem
		font-weight 700
		line-height 1em
		display inline-block
		margin 0 .25em .5rem
		padding .5em .725em
		color primary
		border 2px solid primary
		&:hover
			color white
			background primary