/*_______ Sidebar _______*/
.sidebar_widget
	text-align center
	margin 0 auto 2rem
	@media (max-width: 480px)
		justify-content center
	.widget_title
		font-weight 400
		color primary
		&:before
			content ''
			display block
			width 4rem
			height .25rem
			margin 0 auto 1rem
			background-color primary