/*_______ Colors _______*/
primary     	= #502B5A
secondary   	= #2C9192
negro       	= #2c2c2c
gris        	= #959595
gris_claro  	= #bfbfbf
gris_muyclaro 	= #ececec

/*_______ Typos _______*/
primary_font		= 'Montserrat', sans-serif
secondary_font 		= 'Source Sans Pro', sans-serif