/* _____________________ WP classes _____________________ */
.gallery-item
	margin 0
	figure
		margin 0
		img
			border none !important
			margin 0
	figcaption
		font-size .75rem
		line-height 1em
		color gris_claro

.gallery-columns-4
	.gallery-item
		width 23% !important
		margin .4em 1%
    
.entry
	position relative
	overflow hidden
  
.alignleft
	float left
	margin 0 0 1em 1em

.alignright
	float right
	margin 0 0 1em 1em

.aligncenter
	display block
	margin-right auto
	margin-left auto